[2018-09-02 01:07] crazywolf132 opened #1 "Implementing += and -="
Need to add the += and -= operators...

So far you need to do the following:

let i = 0;
i = i + 1;

where it would be good to have:

let i = 0;
i += 1;

or ...

let i = 0;
i++;

[2018-09-02 04:53] #1 closed

[2018-09-02 04:55] crazywolf132 opened #3 "Using -> to assign data to a variable."
Currently you can assign data to a variable as such:

let a = 5;
let b = 0;

b = a;

etc.

It would be good if we could also allow for:

a -> b;   // Meaning we are taking the data from a, and placing the same data in b as-well.

[2018-09-02 05:02] crazywolf132 opened #4 "++ and -- operators."
Much lie #1 , we should really add the ++ and -- operators to objects.

eg:
[code]
and
[code]

If we wanted to make this language stand out a bit, we could incorporate something unique...
if the operator is on the left of the variable: ++a; means it will double the effect.

eg.
[code]
and
[code]

[2018-09-02 05:15] crazywolf132 opened #5 "Graphics implementation."
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

[code]

**Describe alternatives you've considered**

**Additional context**
Add any other context or screenshots about the feature request here.

[2018-09-02 08:02] crazywolf132 commented on #4
Claimed by @brokenprogrammer

[2018-09-02 09:32] crazywolf132 commented on #4
This might have been unclear initially, but it needs to save back to the variable...
eg.
[code]

[2018-09-02 12:37] crazywolf132 opened #9 "Setup Tests for Ci"
Quite an easy task...

Create a folder called "test"...

and create a test for each feature... just so then the Ci server has something to compare against.

[2018-09-02 14:09] crazywolf132 opened #10 "Setup internal functions (private and public)"
Each class should be allowed to have functions that can't be reached from outside the class.

Much like java, and swift... we could do something similar.
eg.
[code]

[2018-09-02 14:09] crazywolf132 commented on #10
maybe @nitros12 or @brokenprogrammer could help?

[2018-09-04 09:24] binbandit opened #12 "New name."
Due to the language MoonScript.... Which I originally didn't know existed when I created this language. We needed to rename...

So in our discord group, we decided "Máni"

[2018-09-04 09:24] #12 closed, assigned to nobody

[2018-09-06 11:31] crazywolf132 opened #13 "Convert to ANTLR4"
Why???
Well personally I think the parser and laxer are pure trash.

So why not use a system that can do it for us? And keep it nice and tidy.

We just need a bit of helping converting this project over to ANTLR4.

All help is good help.

[2018-09-13 19:46] Beyarz commented on #5
Great idea!

[2018-09-13 19:50] Beyarz opened #14 "Clear things up."
How does one install & run Mani?
Can you describe it in your readme file.

We can make a brew recipe to simplify the process of installation?

[2018-09-15 13:17] Beyarz commented on #14
Alright, thanks!

[2018-10-27 04:18] crazywolf132 commented on #14
Could we maybe make a shell script to install gradle, build the project, copy the stdlib's to the user's root folder, and potentially create a system link to the build file??

@Beyarz

[2018-10-27 04:28] crazywolf132 commented on #5
Recent commit 59b0b96e81de8d092a5273bbe7fbbbc82685e787, the Screens library was added.

It doesn't exactly match the above syntax, instead it matches this...

[code]

[2018-10-28 14:10] crazywolf132 opened #15 "Updating docs to list new features."
We have recently been adding new features. It would be a good idea to add these to the docs, so people know about them. Aswell as how to use them.

We should also add some documentation on the standard library that is being constantly added to.

Below I will reference new features to this "issue" so we know what needs to be added to the docs.

[2018-10-28 14:15] crazywolf132 commented on #10
Should add this to the docs. #15

[2018-10-28 14:16] crazywolf132 commented on #10
Will close this issue once added to docs, so we know it's done.

[2018-10-28 14:16] crazywolf132 commented on #3
Should add this to the docs. #15

Will close this issue, once added to the docs.

[2018-10-28 14:17] crazywolf132 commented on #5
Should add this to the docs. #15

Will close this issue, once that is complete.

[2018-10-28 14:29] crazywolf132 opened #16 "Potential installer"
It would be good to either create an installer, get home-brew (Mac) to do it. Or, even have the actual language set it up.

It would need to create a path in the user's home directory, after checking to see if it is already there. It could have an options file for the language, where we can configure things like self updating and such.

Also copying the STDLIB from this repo to it. So then the use

[2018-10-28 14:31] crazywolf132 commented on #15
The docs will also have to be redone to match the new Maps and Lists libraries. As much has changed since the new implementations of the API's.

[2018-10-28 15:31] crazywolf132 commented on #4
[code]

Reopened so we can add the latest changes to the doc. #15

Will close once added.

[2018-10-29 03:32] crazywolf132 opened #17 "STRICT mode"
STRICT mode would enable the checking for the ';' character at the end of each expression.

Meaning, the language how it currently needs the ';' at the end of each expression will be optional by default. It won't error or anything if it is used, it will just run.

We could implement some unique features like the changing of the '=' to the '>>' character when in STRICT mode.

[2018-10-29 03:36] crazywolf132 commented on #17
Should add these to the docs. #15

Will close this issue once added.

[2018-10-29 13:13] #4 closed

[2018-10-29 13:56] #3 closed

[2018-10-29 14:17] #10 closed

[2018-10-29 22:17] Beyarz commented on #14
That would probably work, do you want to give it a shot?

[2018-10-30 06:56] crazywolf132 commented on #14
Sure, if you are willing to give it a go. I don't know how to make modules for Brew or anything.

[2018-10-30 19:23] Beyarz commented on #14
Neither do I but I'll give it a go anyways.

[2018-12-21 03:19] haifenghuang opened #18 "Wrong with Class Parsing"
I have got an error when executing a `person.mn` file, it's contents are as beow:

[code]

But it always report below error:

[code]

[2018-12-24 03:55] crazywolf132 commented on #18
Hi there!

Thank you for getting in touch, I would have replied sooner but I have just gotten back from holidays.
I see the error, and I have edited the documents to reflect the changes.

The problem is the capital "C" in "Class" the reason everything is freaking out, is because it doesn't realise it is in a class.

Once you fix that... It will arise a problem at line 24, which is the `p.reverse()

[2018-12-24 03:57] #18 closed

[2018-12-26 01:23] haifenghuang opened #19 "internal function problem with inheritance"
Below code runs without problem:

[code]

In subclass `Man`, the `both()` method calls `this.reverse()`, but `reverse()` is a internal method of class `Person`,  so it should not be used in subclass `Man`.

By the way, in subclass `Man`, the constructor is calling parent class `Person`'s constructor, but the syntax
is a little bit weird. It uses `super.Person(first, last)`, it should be better usi

[2019-01-06 03:52] crazywolf132 commented on #19
Thankyou for this. I will take a look now. :)

[2019-01-06 04:36] crazywolf132 commented on #19
As of the latest push, using `super.Person(first, last)` is now optional. You can just use `super(first, last)` as long as there is a constructor in the superclass.

[2019-01-06 05:12] crazywolf132 commented on #19
Feel free to come and join our community on Discord where we can discuss this more.

https://discord.gg/e37upmg

[2019-01-29 14:12] crazywolf132 commented on #17
There are still quite a few problems with this. Eg. For-loops.

We should fix these before closing.

[2019-02-26 01:41] crazywolf132 commented on #15
Also need to add and update the current documentation for how the `say` statement with execute the `show` function in any class, if it exists.

That than having to create a function in the class to show the contents.

It's function is much like the `toString()` function when used in a Java class.

[2019-03-15 13:12] crazywolf132 commented on #15
Multi-line commenting added to the docs. 1174adb192789a994e36bd0e1eee974e6cfbfc10

[2019-03-18 02:20] crazywolf132 opened #20 "is operator"
The `is` operator could be used in cases such as this.

[code]

This can be very handy for type checking.

We could have a `Number`, `String`, `Array`, `Map`, `Class`, `Function` to begin with.

We could then maybe incorporate checking of user created classes, and objects.

[2019-03-18 02:21] crazywolf132 commented on #20
This would of course have to be added to documentation. #15

[2019-03-18 02:33] crazywolf132 opened #21 "Change to new import tag"
Currently there is 3 ways of including new code into your current code.

Eg.
Loading a file `load("filename.mn");`
Loading an API `use("apiName");`
Loading an STDLIB `import("stdlibname");`

This can be very chaotic for anyone trying to learn the language, or even to simply work out what a program is doing.

A way we could potentially fix this, would be to replace some of these with a C++ styled i

[2019-03-18 13:33] crazywolf132 commented on #21
Load function is now complete, it works the exact same way as described above.

We need to update the STDLIB to reflect these changes. Then remove the old methods from InBuilt.

[2019-03-20 01:46] crazywolf132 commented on #21
Keeping this open due to the fact that `Load` seems to be having some issues and causing issues.

Eg. it complains about expecting an expression after it.

[2019-04-01 11:15] crazywolf132 opened #22 "Updating modules to new system"
## What has been done so far?

So far, when you create a list:
[code]
you can use the `at()` function to get the element at a certain position.
The code that runs this is in the `Inbuilt.java` file, around line 210.

What happens is, the Interpreter goes through the code. And it finds the `.`
then it checks to see if it is referencing a `ManiFunction` or not.

The system used to return an error sa

[2019-04-02 19:00] Kalekdan commented on #9
I'm keen to get involved with this project. I can have a go at creating some tests for this issue (I don't seem to be able to assign myself to the issue).
It also may be an idea to create some proper testing framework at some point (maybe using JUnit if you're familiar)

[2019-04-02 20:18] crazywolf132 commented on #9
Welcome to the team.

We would be more than happy for you to help.

Yeah, I have been tinkering with some testing frameworks in my own time lately, to see how to go about it for Mańi.

I will assign the issue to you.

Regards

[2019-04-03 10:41] Kalekdan opened #25 "Index out of bounds exception when combining lists into a map"
If you create 2 lists (of the same size) and try and combine them into a map using map.combine(list1, list2); java throws and indexoutofbounds exception.
Will raise pr for fix shortly

[2019-04-03 10:45] Kalekdan commented on #25
Also noticed when performing mymap.exists("keyname"); it would always return false, even if they key existed. Have updated and will include in same pr

[2019-04-04 00:37] crazywolf132 commented on #25
Thank you. Maybe if you want to split to a seperate pr, i will merge straight away

[2019-04-04 07:22] crazywolf132 commented on #15
Need to update `Maps` and `lists` library documentation to include new features and update `delete` function to `del` in docs

[2019-04-04 07:29] Kalekdan commented on #25
Fixed in PR here (https://github.com/crazywolf132/Mani/pull/26)

[2019-04-04 07:38] crazywolf132 commented on #25
All tests pass. Closing issue.

[2019-04-04 07:38] #25 closed

[2019-04-04 07:48] Kalekdan commented on #9
Updating issue to reflect comments in closed PR:
 - Tests now use testing library written in Mani (as per existing tests in test/)
 - Test library needs documentation

[2019-04-04 08:15] crazywolf132 commented on #9
Further tests need to be created for most of the features listed in the documentation.

[2019-04-04 10:33] crazywolf132 opened #27 "First Release"
We need to create our first release on this repo.

We also need to know what needs to be fixed and done before that happens.

Comment below anything.

[2019-04-04 20:22] Kalekdan opened #30 "Map test failures"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

Code to reproduce:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Error**

**Desktop (please complete the following information):**
 - OS: [MACOS]
 - Version [MOJAVE]

**Standard Library:**
Were you using a standard library?

If yes, what libaries?

If applicable, did you have intern

[2019-04-04 20:25] Kalekdan commented on #9
I've also realised the tests I've been creating aren't fully independant - currently this doesn't matter as the Mani testing framework stops when a single test fails.
However I would like to change tests at some point so they can all run independently (i.e. using test specific objects). Would also make it easier to debug and future proofs in case we change how tests run.

[2019-04-04 21:08] crazywolf132 commented on #9
If it would make it easier. We could create a toggle of whether or not it will stop on fail.

[2019-04-05 00:35] crazywolf132 commented on #30
Update on status:

The problem with the several maps throwing an error, has been narrowed down to the delete task.
The task returns the actual map item rather than the class. This is what causes the errors.

[2019-04-05 13:59] crazywolf132 commented on #19
@haifenghuang
As of today, The above example works as expected.

[2019-04-05 13:59] #19 closed

[2019-04-05 14:00] crazywolf132 commented on #21
All works now, as long as everything is "Load" is all lowercase. eg. "load"

[2019-04-05 14:00] #21 closed

[2019-04-06 14:05] crazywolf132 opened #31 "Operator overriding."
A way we could achieve this, would be to add a check in the unary part of the interpreter.

If the item is a Mani-function. Test to see if there is a function with the same name as the operator, if there is. Perform that function instead, and return the result.

That is one sample solution.

[2019-04-15 10:37] Kalekdan commented on #30
I have looked into this again, the map creation issue issue was in fact the use of the variable name newMap in the tests. (not sure if this is an acceptable cause for error or not but I will update the tests to use a different variable name for now)
The copying map issue was due to an incorrect assignment when creating a the map

[2019-04-16 22:45] crazywolf132 commented on #30
Latest commits, fix error when reseting a map.

[2019-04-17 02:20] crazywolf132 opened #33 "For loop error"
The auto for loops cant see any variables in the surrounding code.
Eg.
[code]
That works... but this does not.

[code]
This doesn't work. The `item` and the `goThru` needs to be defined outside the function. This is absolute bullshit.

We need to make it, so it can see it in its current scope.

[2019-04-17 23:04] crazywolf132 commented on #33
As mentioned in 32da90f368351134f1dc171486e5abdc2ec761fd

The current solution to this problem causes another problem.

[code]

This currently allows you to not have to set the `item` variable beforehand. Removing the scoping issue. It creates another issue though as we removed the variable after the for-loop, as it was force created.

If anyone uses a variable name, that they are already using...

[2019-04-18 05:54] crazywolf132 opened #37 "Operator Overriding"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2019-04-18 06:57] crazywolf132 commented on #20
Implemented in latest commits.

[2019-04-18 06:57] #20 closed

[2019-04-18 07:15] crazywolf132 opened #38 "New version of docs"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-04-18 09:45] Kalekdan opened #40 "Create CONTRIBUTING.md"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-04-18 09:48] Kalekdan commented on #40
Taking this issue

[2019-04-18 22:51] crazywolf132 commented on #40
Merged to main branch.

[2019-04-18 22:51] #40 closed

[2019-04-19 02:12] crazywolf132 opened #42 "Namespaces"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-04-19 02:13] crazywolf132 commented on #42
@Kalekdan Maybe this is one you might like to do?

[2019-04-19 07:58] Kalekdan commented on #42
Yeah I'll take this

[2019-04-19 14:41] crazywolf132 commented on #42
Maybe we could do something like creating a new Class type for the globals map. It could store data like the namespace, how many arguments the function has (if its a function) etc. Then we could potentially have function overloading too.

This is just an idea, i look forward to seeing how you try to implement this feature.

[2019-04-19 14:55] crazywolf132 opened #43 "Entities"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

These can be used to store information (Any type, based on what the entity requires).

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

We could then create a new way of calling them.

[code

[2019-04-20 14:20] crazywolf132 opened #44 "Compiler"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-04-28 14:50] TheOnlyArtz opened #47 "Can't assign string variables after assigning a maps variable"
Basically:
[code]
This one work ^
This one does not!
[code]
Throws `undefined variable 'test'

[2019-04-28 15:32] TheOnlyArtz commented on #47
I've forgotten the semi-colon, sorry!

[2019-04-28 15:32] #47 closed

[2019-04-30 05:06] crazywolf132 commented on #38
This is a list of the remaining pages to be created.

  * Maps
  * Lists
  * Frame
  * Math
  * Socket
  * Thread
  * JSON
  * Files
  * Downloader
  * DB
  * Date & Time
  * Atomic

[2019-04-30 07:18] Kalekdan commented on #30
This issue is complete. I will log a follow up bug report for the error when creating a map with name newMap

[2019-05-05 01:29] crazywolf132 commented on #44
@Kalekdan If you are stuck on your other task. Maybe you could work on this one instead.

It is a slightly easier task, as i have already done a fair bit on it.

https://github.com/crazywolf132/Mani-Compiler

It just needs to be updated to the latest version of mani (or even incorporated into this project with gradle). As well as look for a `main` function, after it reads in all of the code. Then

[2019-05-07 07:15] Kalekdan commented on #44
Yeah, I'll take a look. Thanks

[2019-05-11 03:59] crazywolf132 opened #49 "Better test framework"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

This will allow us to have a better testing framework. This will also fix any problems with changing the test library and it not working on t

[2019-05-11 05:28] crazywolf132 commented on #49
All is now implemented

[2019-05-11 05:31] #49 closed

[2019-05-11 05:31] crazywolf132 commented on #30
@TheOnlyArtz Please fix your map search test

[2019-05-13 09:16] Kalekdan opened #54 "Remove hard-coded strings"
**Is your feature request related to a problem? Please describe.**
*A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]*
There are various locations in the code where hard-coded strings are used which can make Máni fragile when moving to new systems and can incur unnecessary additional work when strings need to be updated.

**Describe the solution you'd lik

[2019-05-13 09:17] crazywolf132 commented on #54
Can you please provide locations.

[2019-05-13 10:30] Kalekdan commented on #54
The file locations actually seem to be updated since I last checked. It would only be a matter of updating the error messages then, which may not actually be required.
e.g. Inbuilt.java ln 193
`if ((arguments.get(0) instanceof Double) && (arguments.get(1) instanceof  Double)) {`
`        numPow = Math.pow((Double)arguments.get(0), (Double)arguments.get(1));`
`} else {`
`        return "pow : both

[2019-05-13 11:09] crazywolf132 commented on #54
Yeah. Everything in that file should be migrated to their own modules. Except methods like `ask`

[2019-05-18 14:45] crazywolf132 commented on #17
I think this issue should stay open as i think @Kalekdan and I should reverse this.

We should enforce the use of `;` as it is much safer. Or, completely remove them. One or the other, not both.

This is due to how unstable the system is when you work with both `;` and without in the same code. The Import and load statement seem to break without them, and other statements just seem strange.

Maybe

[2019-05-21 14:48] Kalekdan opened #67 "Add "break" keyword to escape loops"
**Is your feature request related to a problem? Please describe.**
Would be useful to have the ability to escape a loop without having to wait for it to complete (for example if a condition is met)

**Describe the solution you'd like**
Something like the following should be possible:
[code]

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or

[2019-05-22 00:50] crazywolf132 commented on #67
Already exists.
[code]

[2019-05-22 00:51] #67 closed

[2019-05-22 08:30] crazywolf132 commented on #30
@Kalekdan  Are we good to close this?

[2019-05-22 08:31] crazywolf132 commented on #43
@Kalekdan If your looking for another task. Maybe you could do this.

Even if u maybe made something like a map, but the key will be an auto-increment from 0. Or it can be set....

[2019-05-22 08:32] crazywolf132 commented on #5
This is being closed as it is finished.

[2019-05-22 08:32] #5 closed

[2019-05-22 08:33] crazywolf132 commented on #42
Namespaces is still currently underwork. So we need to keep this issue open. #61

[2019-05-22 08:36] crazywolf132 commented on #22
This is fixed with the "APIs"

[2019-05-22 08:36] #22 closed

[2019-05-22 08:37] crazywolf132 commented on #44
@Kalekdan Finished this. It is merged and added.

Docs need to be added about it, and how to use it.

[2019-05-22 08:37] #44 closed

[2019-05-22 09:41] Kalekdan commented on #43
@crazywolf132 I'll take a look

[2019-05-22 09:59] Kalekdan commented on #30
The issue with maps called newMap still exists. This can be reproduced in the maps.mni test if the name of the myMap object is replaced to newMap. I'm not sure if this is an acceptable failure (whether we say the objects cannot be called newMap). Even if it is, it should probably throw a better error than:
 `Can only call functions and classes
[line 6]`
I will move this bug into a new issue though

[2019-05-22 10:05] Kalekdan opened #68 "Map naming 'newMap' error"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

Code to reproduce:
[code]

**Expected behaviour**
A clear and concise description of what you expected to happen.

**Error**
If applicable, please provide the full error.
[code]

**Desktop (please complete the following information):**
 - OS: WINDOWS
 - Version: 10

**Standa

[2019-05-22 10:56] #30 closed

[2019-05-22 11:02] crazywolf132 commented on #68
Updated message

[2019-05-22 12:30] Kalekdan commented on #68
I believe this is happening due to the line in ```stdlib\maps.mni``` in the constructor ```this.map = newMap()```. It is trying to access the user created map object as a function when it exists with the name newMap. I imagine this will be fixed with the indroduction of namespaces #42 so it is not a high priority issue for now.

[2019-05-22 22:37] crazywolf132 commented on #68
Yeah, hopefully we can fix this with namespaces. We could also remove a few of the lines from each of the standard libraries as they were created before the introduction of the `addons` system #22

[2019-05-23 07:31] crazywolf132 commented on #38
Added Lists

[2019-05-23 07:32] crazywolf132 commented on #38
Added Socket

[2019-05-23 07:57] crazywolf132 commented on #38
Added frame

[2019-05-27 05:00] crazywolf132 opened #73 "Pass arguments to main function in compiled mode."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-05-27 05:00] crazywolf132 commented on #68
fixed

[2019-05-27 05:00] #68 closed

[2019-05-27 05:16] crazywolf132 commented on #73
Decided to go with the second option, rather than forcing everyone to use a `main` method.

[2019-05-27 05:16] #73 closed

[2019-05-27 06:40] crazywolf132 opened #74 "Build Compiler gradle task"
**Describe the bug**
A clear and concise description of what the bug is.

I had a look, it is all in the gradle dependancies.

**To Reproduce**
Steps to reproduce the behaviour:

Code to reproduce:

**Expected behaviour**
A clear and concise description of what you expected to happen.

**Error**
If applicable, please provide the full error.

[code]

**Desktop (please complete the following informa

[2019-05-27 06:40] crazywolf132 commented on #74
@Kalekdan You might be best one to take point on this.

[2019-05-28 07:37] Kalekdan commented on #74
@crazywolf132 Yeah I'll take a look

[2019-05-30 12:40] Kalekdan commented on #74
I believe this issue can be close now. @crazywolf132 can you confirm that the bug no longer occurs for you?

[2019-05-30 13:33] crazywolf132 commented on #74
Confirmed

[2019-05-30 13:33] #74 closed

[2019-05-30 13:33] crazywolf132 commented on #43
@Kalekdan how's this one going?

[2019-05-30 13:47] Kalekdan commented on #43
@crazywolf132 Haven't gotten round to looking at this one yet, I'll make this my next priority

[2019-06-11 00:27] crazywolf132 commented on #37
This feature has been added. Simply add `add ( otherObj ) {}` to override the `+` operator.

And same goes for minus ` minus ( otherObj ) {}`

[2019-06-11 00:28] #37 closed

[2019-06-16 02:49] crazywolf132 commented on #54
I think this is still a problem. So we will keep this issue open

[2019-06-20 04:47] crazywolf132 commented on #42
This got added with the latest pull request.

[2019-06-20 04:47] #42 closed

[2019-06-20 04:48] crazywolf132 commented on #17
Keeping this open as it is still up for debate.

[2019-06-20 04:55] crazywolf132 opened #78 "Overload functions"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-06-20 06:49] crazywolf132 commented on #43
@Kalekdan Any news?

[2019-06-25 04:50] crazywolf132 commented on #78
Can now close.

[2019-06-25 04:50] #78 closed

[2019-06-25 16:22] Kalekdan commented on #43
I had a quick look but I think I'm a bit over my head with most of this 😂 I might have to take a step back

[2019-06-27 02:01] crazywolf132 commented on #43
Thats ok, maybe want to take an easier task?

[2019-06-27 07:48] Kalekdan commented on #43
Sure, I'd like to stay involved if you'll still have me! I'll take a look through the issues and pick one I might be able to tackle.

[2019-06-30 13:47] crazywolf132 commented on #38
@Kalekdan Maybe for now (until i write up my other ideas) you could work on some of these. Simply copy the layout from some of the crossed out titles. If you have any questions. Please hit me up on discord, i am active on there most days.

[2019-06-30 13:51] crazywolf132 opened #79 "Switch statements."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-07-04 04:25] crazywolf132 opened #81 "Recode File API"
**Name of the function or class, and location**
Please provide a link from GitHub to the exact location.

**Reason for a re-code**
A clear and concise description of why this needs to be re-coded.

**Will this affect anything else in the system?**
Please select one of the following:

**Is the re-code required for any feature requests?**
If so, please specify the feature request it applies to.

**A

[2019-07-04 04:28] crazywolf132 commented on #81
@Kalekdan If you would like something somewhat simple, this might be the task for you.

[2019-07-04 07:26] Kalekdan commented on #81
Yeah, I'll take a look - will keep you updated how I get on

[2019-07-10 13:11] Kalekdan opened #82 "Add option to use local stdlib when running tests on CI"
**Is your feature request related to a problem? Please describe.**
When making changes to the stdlib, the changes are not tested on CI until it is merged since they will not yet be in the master branch of the repo.

**Describe the solution you'd like**
An option to force Máni to not use internet version of stdlib and use local version instead. Perhaps a command line parameter that could be passed

[2019-07-10 13:32] Kalekdan opened #84 "Test framework doesn't fail on syntax errors"
**Describe the bug**
When running tests, a syntax error will stop the test being run but will not cause the test to fail. This is an problem as the genuine issue in the test may be overlooked as tests after it will continue to run.

**To Reproduce**
Test to reproduce the behaviour:
[code]
The above test will throw a syntax error due to the 1.prop but will not fail the test, meaning any tests after

[2019-07-11 09:59] crazywolf132 commented on #82
I think to accompany this, we should create a `full build` task to gradle to include all the std-libs in the jar

[2019-07-17 04:02] crazywolf132 commented on #84
Are you talking about when run in a batch test? or a single?

If you are talking about as a single... it does as intended. The test will not even compile.

[2019-07-17 07:13] Kalekdan commented on #84
An example of this occurring on our CI [here](https://circleci.com/gh/Kalekdan/Mani/36?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link) due to using functions which had not yet made it into the stdlib. The test suite passes despite the files test not succeeding

[2019-07-18 02:11] crazywolf132 commented on #84
After carefully looking, i realised the problem was... as it runs multiple files... it ignores the `hadRuntimeError` flag.

I have created a simple fix for this. Under each test... it checks the system api, if there was an error or not.

Added in commit: 6993fc5

[2019-07-18 02:11] #84 closed

[2019-07-18 08:05] crazywolf132 commented on #81
Added in latest merge

[2019-07-18 08:06] crazywolf132 commented on #54
Next task is to delete the `inbuilts` file

[2019-07-18 08:08] #43 closed

[2019-07-18 08:09] crazywolf132 commented on #38
@Kalekdan maybe because you reworked the files API and stdlib, you could do the docs for those?

[2019-07-18 08:10] Kalekdan commented on #38
@crazywolf132 Yeah I forgot that - I'll update this here when I get a second

[2019-07-18 08:14] crazywolf132 opened #86 "Moving to org"
It might be a good idea to move this repo over to an organisation.

The reason for this is because I'm going to start building more projects around Máni. For example, `MARN`.

It will make it slightly easier to get access to. It will also make it easier to have the docs in a seperate repo.

It will also make it easier to add people as contributors. So they can help me run this project.

[2019-07-18 08:14] Kalekdan commented on #82
@crazywolf132 What would be the preference here? Tests run using local stdlib by default unless otherwise specified? I could add a command line parameter to the ./test.sh

[2019-07-18 08:45] crazywolf132 commented on #82
@Kalekdan

What do you mean by local? In the jar?

One way we could go about this is by providing all the std-libs in the resources folder. That way it will naturally use the internet versions if there is a live connection, or the local ones of that version.

A way we could make this work with the test system is by taking advantage of the `system` API, and using the API point that toggles off the

[2019-07-18 08:46] crazywolf132 commented on #86
@Kalekdan maybe you could accept the invite and move the examples repo to here.

[2019-07-18 08:58] Kalekdan commented on #86
@crazywolf132 done

[2019-07-18 09:05] Kalekdan commented on #82
@crazywolf132 I'm not sure I follow - the issue is that our CI is always using the internet versions so when an update is made to the stdlib, tests in a PR are failing (since it is not using the updated 'local' stdlib)

I agree that we should include the stdlibs into the resources folder, otherwise in order to test non-internet versions we would have to install Máni on every CI run.
I'll take a lo

[2019-07-18 10:40] Kalekdan commented on #82
Another alternative could be to use the internet versions of the stdlib from whichever source repo the pull request is made. CircleCI has a built in environment variable for the source repo

[2019-07-18 12:59] crazywolf132 commented on #82
Awesome!

I just have one requested change added to the pull. Then we are good to go.

[2019-07-19 00:31] crazywolf132 opened #88 "Docs - Moving"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behaviour:

Code to reproduce:

**Expected behaviour**
A clear and concise description of what you expected to happen.

**Error**
If applicable, please provide the full error.

**Desktop (please complete the following information):**

**Standard Library:**
Were you using a standard lib

[2019-07-19 02:13] crazywolf132 opened #89 "Overloading functions - causes error"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behaviour:

Code to reproduce:
[code]

**Expected behaviour**
A clear and concise description of what you expected to happen.

**Error**
If applicable, please provide the full error.

[code]

**Desktop (please complete the following information):**

**Standard Library:**
Were you using

[2019-07-19 02:26] crazywolf132 commented on #89
Another way we could battle this is by complaining about multiple of the same function. Requiring the user to only use a function that has **NOT** been declared more than once.

[2019-07-22 10:23] Kalekdan commented on #82
Do you want this to replace the existing behavior when they don't have an active internet connection (i.e. stdlib in the user.home/mani directory)

[2019-07-22 12:44] crazywolf132 opened #92 "Line numbers being incorrect in error."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behaviour:

Code to reproduce:

**Expected behaviour**
A clear and concise description of what you expected to happen.

**Error**
If applicable, please provide the full error.

**Desktop (please complete the following information):**

**Standard Library:**
Were you using a standard lib

[2019-07-22 12:54] crazywolf132 commented on #92
@Kalekdan This might be your next task to conquer.

You might even be able to tie it in with #91

[2019-07-22 13:11] crazywolf132 commented on #82
Closing due to latest merge 773eac1 finishing this.

[2019-07-22 13:11] #82 closed

[2019-07-22 13:21] crazywolf132 opened #93 "Depreciated tag for functions"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

[code]

**Additional context**
Add any other context or screenshots about the feature request here.

[code]

[2019-07-22 14:31] Kalekdan commented on #81
Reopening as there is still unused code I want to fix up and add to the files API. Either that or it should be removed to make it easier to maintain

[2019-07-23 14:36] #92 closed

[2019-07-24 08:18] Kalekdan opened #97 "Add Licencing.MD"
**Is your feature request related to a problem? Please describe.**
Before first release, would probably be good to have some details on the licencing of Máni.

**Describe the solution you'd like**
Add a licencing.md file that details the licenses for the software

[2019-07-24 08:22] crazywolf132 commented on #97
I was thinking of looking for a licence we could use.

[2019-07-24 09:23] #81 closed

[2019-07-31 04:11] crazywolf132 commented on #93
This is finished. Implemented exactly as above. #38 should refer to here for docs.

[2019-07-31 04:11] #93 closed

[2019-07-31 04:38] crazywolf132 opened #99 "Recode Logman"
**Name of the function or class, and location**
Please provide a link from GitHub to the exact location.

**Reason for a re-code**
A clear and concise description of why this needs to be re-coded.

**Will this affect anything else in the system?**
Please select one of the following:

**Is the re-code required for any feature requests?**
If so, please specify the feature request it applies to.

**A

[2019-07-31 04:38] crazywolf132 commented on #99
@Kalekdan Maybe your next job?

[2019-07-31 04:57] crazywolf132 commented on #97
@Kalekdan A license has been added.

https://github.com/mani-language/Mani/blob/master/LICENSE.md

We just need to add it to the top of each code file now.

[2019-07-31 05:27] #54 closed

[2019-07-31 05:45] crazywolf132 commented on #97
Done

[2019-07-31 05:45] #97 closed

[2019-08-02 21:24] ankitshubham97 opened #101 "error: cannot find symbol interpreter.addSTD("sleep", new std_sleep());"
**Describe the bug**
While executing `gradle buildCompiler`, it fails with a gradle build failure.

**To Reproduce**
Steps to reproduce the behaviour:
1. Run `gradle buildCompiler` from the project root directory.

Code to reproduce:
n/a

**Expected behaviour**
The build should have succeeded.

**Error**
[code]

**Desktop (please complete the following information):**
 - OS: MACOS
 - Version [e.g.

[2019-08-02 21:32] crazywolf132 commented on #101
Closing due to latest PR fixing this.

[2019-08-02 21:33] #101 closed

[2019-08-02 21:41] ankitshubham97 commented on #101
@crazywolf132 Just curious but why am I not getting listed as a contributor? https://github.com/mani-language/Mani/graphs/contributors

[2019-08-14 09:50] crazywolf132 commented on #86
This is finished now. We can close it.

[2019-08-14 09:50] #86 closed

[2019-08-14 11:46] Kalekdan commented on #79
@crazywolf132 @ankitshubham97 I assume this can be closed now?

[2019-08-14 14:55] ankitshubham97 commented on #79
@Kalekdan Yes, this can be closed now.

[2019-08-14 21:10] #79 closed

[2019-08-15 01:01] crazywolf132 opened #104 "Switch Statement - Docs"
We need docs to be written about the switch statement please.

Along with adding the keywords to both of the syntax's  (vscode and atom)

@ankitshubham97

[2019-08-19 09:41] #104 closed

[2019-09-09 04:15] crazywolf132 opened #108 "... operator"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

[code]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Then we could hopefully use it on things such as filling lists etc.

**Describe alternatives you've considered**
A clear and concise

[2019-09-09 04:15] crazywolf132 commented on #33
@ankitshubham97 This might be a good one for you to do?

[2019-09-09 04:17] crazywolf132 commented on #17
@ankitshubham97  and @Kalekdan  We are going to remove this feature, it has caused too many bugs over the time. We will just stick with using `;` on everything.

This means that someone needs to go and update all the tests, libraries and examples to follow the new structure, otherwise they will all break.

It also means someone needs to remove the feature from the language.

Maybe one of you two?

[2019-09-09 04:17] crazywolf132 commented on #99
@Kalekdan Need any help?

[2019-09-09 04:17] crazywolf132 commented on #88
Finished

[2019-09-09 04:17] #88 closed

[2019-09-10 18:37] Kalekdan commented on #99
@crazywolf132 I'll try and do some on this tomorrow, I've not been doing any work for the past couple of months sorry. What exactly needs updating with the logging function? Does it just need simplifying?

[2019-09-10 23:16] crazywolf132 commented on #99
Needs to be simplified, but also keeping the logging level ability.

[2019-09-11 19:46] ankitshubham97 commented on #108
@crazywolf132 I can work on this feature.

[2019-11-01 04:37] crazywolf132 commented on #108
@ankitshubham97 How goes this feature?

[2019-11-01 04:44] crazywolf132 commented on #99
@Kalekdan Are you still working on this? Should i re-assign it?

[2020-08-26 16:53] AmrDeveloper commented on #108
If no one working on it, I can implement this feature
@crazywolf132 @ankitshubham97

[2020-08-26 17:09] AmrDeveloper opened #109 "Support underscore in number"
Support to add underscore in number to make big numbers more readable like java

for example

[code]

[code]
The idea is simple we just need to support it on the lexer

I can work on this feature if it approved

[2021-12-20 07:27] crazywolf132 commented on #109
@AmrDeveloper It's approved